@{
    Layout = "_Layout";
}
@model List<Job>
<div class="home-container">

    <section class="home">
        <form action="" method="post">
            <h3>find your new job</h3>
            <p>job title <span>*</span></p>
            <input type="text" d="searchTerm" name="searchTerm" placeholder="keyword,category or company" required maxlength="20"
                class="input">
            <p>job location </p>
            <input type="text" name="location" placeholder="city, state or country" required maxlength="20"
                class="input">
            <input type="submit" value="search job" name="search" class="btn">
        </form>
    </section>
</div>
<!--category starts-->
<section class="category">

    <h1 class="heading">job categories</h1>
    <div class="box-container">
        <a href="#" class="box">
            <i class="fa fa-code"></i>
            <div>
                <h3>Software developer</h3>
                <span>2200 jobs</span>
            </div>
        </a>

        <a href="#" class="box">
            <i class="fa fa-pen"></i>
            <div>
                <h3>fullstack web developer</h3>
                <span>2200 jobs</span>
            </div>
        </a>

        <a href="#" class="box">
            <i class="fa fa-bullhorn"></i>
            <div>
                <h3>android app developer</h3>
                <span>2200 jobs</span>
            </div>
        </a>
        <a href="#" class="box">
            <i class="fa fa-wrench"></i>
            <div>
                <h3>Game developer</h3>
                <span>2200 jobs</span>
            </div>
        </a>

        <a href="#" class="box">
            <i class="fa fa-headset"></i>
            <div>
                <h3>backend developer</h3>
                <span>2200 jobs</span>
            </div>
        </a>
        <a href="#" class="box">
            <i class="fa fa-wrench"></i>
            <div>
                <h3>project management</h3>
                <span>2200 jobs</span>
            </div>
        </a>
        <a href="#" class="box">
            <i class="fa fa-wrench"></i>
            <div>
                <h3>cloud development</h3>
                <span>2200 jobs</span>
            </div>
        </a>
        <a href="#" class="box">
            <i class="fa fa-wrench"></i>
            <div>
                <h3>data engineering</h3>
                <span>2200 jobs</span>
            </div>
        </a>

    </div>
</section>
<!--category ends-->


<!--jobs section starts-->

<section class="jobs-container">

    <h1 class="heading">latest jobs</h1>
    <div class="box-container">
        @{
            var i = 0;
        }
        @foreach (var item in Model)
        {   
            i++;
            <div class="box">
                <div class="company">
                    <img src="images/1.jpg" alt="">
                    <div>
                        <h3>@item.CompanyName</h3>
                        <p>@item.DatePosted</p>
                    </div>
                </div>
                <h3 class="job-title">@item.JobTitle</h3>
                <p class="location"><i class="fas fa-map-marker-alt"></i>
                    <span>@item.Location</span>
                </p>
                <div class="tags">
                    <!--jobs salary and other details-->
                    <p><i class="fas fa-indian-rupee-sign"></i><span>@item.SalaryRange</span></p>
                    <p><i class="fas fa-briefcase"></i><span>@item.JobType</span></p>
                    <p><i class="fas fa-clock"></i><span>@item.ShiftType</span></p>
                </div>
                <div class="flex-btn">
                    <a asp-controller="Jobs" asp-action="GetJob" asp-route-id="@item.JobId" class="btn"> view details</a>
                    <button type="submit" class="far fa-heart" name="save"></button>
                </div>
            </div>
            if(i > 5) {
                break;
            }
        }

    </div>

    <div style="text-align: center;margin-top: 2rem;">
        <a asp-controller="Jobs" asp-action="Index" class="btn"> view All</a>
    </div>
</section>