@model Job
<section class="job-details">

    <h1 class="heading">job details</h1>

    <div class="details">
        <div class="job-info">
            <h3>@Model.JobTitle</h3>
            <p class="a">@Model.CompanyName</p>
            <p><i class="fas fa-map-marker-alt"></i>@Model.Location</p>
        </div>
        <div class="basic-details">
            <h3>salary</h3>
            <p>@Model.SalaryRange</p>
            <h3>schedule</h3>
            <p>@Model.ShiftType</p>
        </div>
        <ul class="requirements">
            <h3>requirements</h3>
            <li>education: <span>@Model.Education</span></li>
            <li>experience: <span>@Model.Experience</span></li>
        </ul>
        <ul class="skills">
            <h3>skills</h3>
            <li>@Model.Skills</li>
        </ul>
        <div class="description">
            <h3>job and project description</h3>
            <p>@Model.Description</p>
            <ul class="infos">
                <li>Hiring @Model.NumberOfVacancies candidate for this role</li>
                <!-- bu kısma veri girşi yapmak lazım backendle -->
                <li>@Model.DatePosted</li>
            </ul>
        </div>
        @{
            await Html.RenderPartialAsync("_ApplyAndOffer", Model);
        }
    </div>
</section>