@model OfferWithUserAndJobViewModel

<section class="application-container">

    <h1 class="heading">Check Applications</h1>
    <div class="box-container">

        @for (var i = 0; i < Model.Offer.Count; i++)
        {
            var job = Model.Job[i];
            var offer = Model.Offer[i];
            var user = Model.User[i];
            <div class="box">
                <div class="company">
                    <img src="../images/1.jpg" alt="">
                    <div>
                        <h3>@job.CompanyName</h3>
                        <h3 class="job-title">@job.JobTitle</h3>
                        <p>@offer.OfferDate</p>

                    </div>
                </div>
                <h3 class="name">applicator's Username: @user.UserName</h3>

                <p class="location"><i class="fas fa-map-marker-alt"></i>
                    <span>@job.Location</span>
                </p>
                <div class="tags">
                    <!--jobs salary and other details-->
                    <p><i class="fas fa-indian-rupee-sign"></i><span>@offer.OfferAmount</span></p>
                    <p><i class="fas fa-clock"></i><span>@offer.OfferDuration</span></p>
                </div>
                <div class="flex-btn">
                    <form method="post">
                        <button type="submit" class="btn" asp-controller="CheckApplications" asp-action="Check" asp-route-id="@user.UserName">Check</button>
                        <button type="submit" class="btn" asp-controller="CheckApplications" asp-action="Done" asp-route-id="@offer.OfferId">Done</button>
                        <button type="submit" class="btn" asp-controller="CheckApplications" asp-action="Decline" asp-route-id="@offer.OfferId"
                            style="background-color: rgb(197, 41, 41);">Decline</button>
                    </form> 
                </div>
            </div>
        }
    </div>
</section>
